@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Rock+Salt&family=RocknRoll+One&display=swap');

.LowerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LowerHome h2 {
    margin: 0;
    font-size: 3.2rem;
    font-family: "Rock Salt", cursive;
    color: #df2929;
}

.BarLogos {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  width: 100%;
  margin-bottom: 25px;
}

.BarLogos a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.LogoWrapper {
  width: 20%;
  display: block;
}

.BarLogo {
  width: 100%;
  height: auto;
  display: block;
  transition: all 1s;
  filter: brightness(0.75);
}

.BarLogo:hover{
  transform: scale(1.1);
  filter: brightness(1);
}