@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Rock+Salt&family=RocknRoll+One&display=swap');  
body{
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.Container {
  display: flex;
  gap: 20px;
  margin-bottom: 2%;
}

img{
  border-radius: 15px;
}

.new-rocker-font{
  font-family: 'New Rocker', cursive;
}

.rock-salt-font{
  font-family: "Rock Salt", cursive;
}